.item {
    width: 250px;
    height: 345px;
    display: inline-block;
    border: 1px solid #cac3c3;
    padding: 0 10px 10px 10px;
    margin-right: 15px;
    margin-bottom: 10px;

}

.item img {
    width: 230px;
    height: 230px;
}

h5,
h6 {
    display: inline-block;
}

h5 {
    color: rgb(70, 95, 87);
}

h6 {
    color: rgb(68, 65, 62);
    margin-left: 20px;
}

.quantityPicker,
.btn-add {
    display: inline-block;
}

.btn-add {
    margin-left: 20px;
}

.quantity-value {
    width: 20px;
}

.btn-add {
    margin-left: 40px;
}  